@page
@model AdBoard.Areas.Identity.Pages.Account.Manage.Ads.CreateModel
@{
    ViewData["Title"] = "Create ad";
    ViewData["ActivePage"] = AdBoard.Areas.Identity.Pages.Account.Manage.ManageNavPages.MyAdsCreate;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="ad-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ShortDescription"></label>
        <textarea rows="5" asp-for="Input.ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="Input.ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Keywords"></label>
        <input asp-for="Input.Keywords" class="form-control" />
        <span asp-validation-for="Input.Keywords" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Description"></label>
        <textarea rows="8" asp-for="Input.Description" class="form-control"></textarea>
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.YoutubeUrl"></label>
        <input asp-for="Input.YoutubeUrl" class="form-control" />
        <span asp-validation-for="Input.YoutubeUrl" class="text-danger"></span>
    </div>
    <button id="update-ad-button" type="submit" class="btn btn-primary">Add</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
