@page
@model AdBoard.Areas.Identity.Pages.Account.Manage.Ads.ViewModel
@{
    ViewData["Title"] = Model.Ad.Name;
}

@if (Model.CanEdit)
{
    <p class="lead"> Status: @Model.Ad.PublishStatus</p>
    @if (Model.Ad.PublishDate!=null)
    {
        <p class="lead">Publish date: @Model.Ad.PublishDate</p>
    }
    <a class="btn btn-primary" asp-page="./Edit">Edit ad <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
}
