@page
@model AdBoard.Areas.Identity.Pages.Account.Manage.Ads.ViewModel
@{
    ViewData["Title"] = Model.Ad.Name;
}

<p class="lead">Name: @Model.Ad.Name</p>
<p>Publish status: @Model.Ad.PublishStatus.ToString()</p>
@if (Model.Ad.PublishStatus == Domain.Ads.PublishStatus.Published)
{
<p>Publish date: @Model.Ad.PublishDate</p>
}
<a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Ad.Id">Edit ad <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
