@inject SignInManager<IdentityUser> SignInManager
@{
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AdsNavClass(ViewContext)" id="ads" asp-page="./Ads">My Ads</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AddAdNavClass(ViewContext)" id="ads" asp-page="./AddAd">Add ad</a></li>
</ul>
